rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isFamilyMember(familyId) {
      return signedIn()
        && firestore.exists(/databases/(default)/documents/families/$(familyId))
        && request.auth.uid in firestore.get(/databases/(default)/documents/families/$(familyId))
          .data.memberUids
        && firestore.get(/databases/(default)/documents/families/$(familyId))
          .data.memberUids[request.auth.uid] == true;
    }

    function isProfileOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function isFamilyAdult(familyId) {
      return isFamilyMember(familyId)
        && request.auth.uid in firestore.get(/databases/(default)/documents/families/$(familyId))
          .data.adultUids
        && firestore.get(/databases/(default)/documents/families/$(familyId))
          .data.adultUids[request.auth.uid] == true;
    }

    function isValidProfileImage() {
      return request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /families/{familyId}/profiles/{userId}/{fileName} {
      allow read: if isFamilyMember(familyId);
      allow create, update: if isProfileOwner(userId) && isFamilyMember(familyId) && isValidProfileImage();
      allow delete: if isProfileOwner(userId) && isFamilyMember(familyId);
    }


    match /families/{familyId}/local-profiles/{memberId}/{fileName} {
      allow read: if isFamilyMember(familyId);
      allow create, update: if isFamilyAdult(familyId) && isValidProfileImage();
      allow delete: if isFamilyAdult(familyId);
    }
  }
}
